src/main/mule/demo1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="3d1e9333-62f0-4cea-b336-ea91e52891b5">
		<http:request-connection protocol="HTTPS" host="api.nytimes.com" />
	</http:request-config>
	<flow name="demo1Flow" doc:id="64a232ee-2ae4-4e14-beda-398dfb5f1a0c" >
		<scheduler doc:name="Scheduler" doc:id="c3c43f4e-3119-44a0-9df3-51e0a2b2d5c0" >
			<scheduling-strategy >
				<fixed-frequency frequency="5" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<http:request method="GET" doc:name="Request" doc:id="ea4b7fad-1691-4082-b266-29cf5efbfcef" config-ref="HTTP_Request_configuration" path="/svc/books/v3/lists/current/hardcover-fiction.json">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"api-key" : "76urWGPPOWqmLFQOfmiQTy5o3uaglkxW"
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="2b834e69-7cc7-4086-9658-18f2992856d7" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="72dcdf76-84b9-4b6b-a265-c88355ed395a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import * from dw::core::Arrays
var q = take(payload.results.books,5)

---
"ksiazki" : {(q map ((value, index) -> {
     ( ("pozycja " ++ (index+1 as String )) : 
        ("ranga" : value.rank) ++ ("autor" : value.author) ++ ("nazwa ksiązki" : value.title)  ++ ("link" : value.amazon_product_url)
        
    )
}))}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="fda083d3-94bd-478f-99e0-eed835edb8d0" path="C:\Demo\Demo1.txt"/>
	</flow>
</mule>
