src/main/mule/demo1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:request-config name="NYTimes_Config" doc:name="HTTP Request configuration" doc:id="3d1e9333-62f0-4cea-b336-ea91e52891b5">
		<http:request-connection protocol="HTTPS" host="api.nytimes.com" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e0fb4f45-aea2-4434-baa1-df2fc8e53eee" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="Books" doc:id="64a232ee-2ae4-4e14-beda-398dfb5f1a0c" >
		<http:listener doc:name="Listener" doc:id="34762ce9-5039-4068-b774-766104c3c953" config-ref="HTTP_Listener_config" path="/NewYorkTimesBestSeller"/>
		<set-variable value="#[attributes.queryParams.top]" doc:name="Set Variable" doc:id="1fb51c00-110d-4873-909c-60167b7dc07a" variableName="top"/>
		<http:request method="GET" doc:name="Request" doc:id="ea4b7fad-1691-4082-b266-29cf5efbfcef" config-ref="NYTimes_Config" path="/svc/books/v3/lists/current/hardcover-fiction.json">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"api-key" : "76urWGPPOWqmLFQOfmiQTy5o3uaglkxW"
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="72dcdf76-84b9-4b6b-a265-c88355ed395a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import * from dw::core::Arrays
var q = take(payload.results.books,vars.top)

---
"ksiazki" : {(q map ((value, index) -> {
     ( ("pozycja " ++ (index+1 as String )) : 
        ("ranga" : value.rank) ++ ("autor" : value.author) ++ ("nazwa ksiązki" : value.title)  ++ ("link" : value.amazon_product_url)
        
    )
}))}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="fda083d3-94bd-478f-99e0-eed835edb8d0" path="C:\Demo\Demo1.txt"/>
	</flow>
	<flow name="E-mails" doc:id="e2a86791-15e6-48f8-ae58-800c472e0186" >
		<http:listener doc:name="Listener" doc:id="c3f7b772-4782-49a2-94c2-78dc8267f5d5" config-ref="HTTP_Listener_config" path="/MostEmails"/>
		<http:request method="GET" doc:name="Request" doc:id="a1737a35-ab7a-4d6d-9d05-b1fc7b06d690" config-ref="NYTimes_Config" path="/svc/mostpopular/v2/emailed/7.json">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"api-key" : "76urWGPPOWqmLFQOfmiQTy5o3uaglkxW"
}]]]></http:query-params>
		</http:request>
	</flow>
</mule>
